= form.send field.view_helper, field.method_name, field.html_attributes.reverse_merge({ value: field.form_value, class: 'form-control', required: field.required})

- ratl_suggestions(field, order: :count).each do |tag|
  = link_to %{<i class="icon-tag"></i> #{tag}}.html_safe, '#', class: 'tag_suggestion', data: { input_id: form.dom_id(field), tag_value: tag }

:javascript
  jQuery(function(){
    var input_id = '#{form.dom_id(field)}'
    $('.tag_suggestion[data-input-id=' + input_id + ']').click(function(event){
      var tag_list, values, tag;
      tag_list = $(this).siblings('input#' + input_id);
      // Get the current values by splitting on a comma and stripping whitespace.
      values = jQuery.map(tag_list.val().split(','), function(val){ return jQuery.trim(val) });
      // Remove empty strings from values
      values = jQuery.grep(values, function(n) { return n.length > 0 });
      tag = $(this).data('tag-value');
      if (jQuery.inArray(tag, values) == -1) {
        values.push(tag);
      } else {
        // Remove current tag from current_values
        values = jQuery.grep(values, function(n) { return n != tag });
      }
      tag_list.val(values.join(', '));

      return false;
    });
  });

:sass
  .tag_list_type
    input
      display: inline-block
      margin-right: 10px

  .tag_suggestion
    margin: 0 5px
    border-bottom: 1px dotted #b94a48
    color: #777
    text-decoration: none
    &:hover
      color: #aaa
      border-bottom: 1px dotted #953b39
      text-decoration: none
    &:focus
      text-decoration: none
